TAMANO_MEMORIA=64
TAMANO_MINIMO_PARTICION=4	
ALGORITMO_MEMORIA=BS
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
IP_BROKER=127.0.0.1
PUERTO_BROKER=15661
FRECUENCIA_COMPACTACION=1
LOG_FILE=/home/utnso/workspace/tp-2020-1c-heartbleed/broker/broker.log
DUMP_CACHE=/home/utnso/workspace/tp-2020-1c-heartbleed/broker/dump_cache.log
