POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[,,,,]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=5
ALGORITMO_PLANIFICACION=RR
QUANTUM=1
ALPHA=0.5
ESTIMACION_INICIAL=5
IP_BROKER=10.108.64.2
PUERTO_BROKER=15661
IP_TEAM=10.108.64.4
PUERTO_TEAM=15662
ID_PROCESO=9
LOG_FILE=/workspace/tp-2020-1c-heartbleed/team/team.log
