POSICIONES_ENTRENADORES=[2|3,6|5,9|9]
POKEMON_ENTRENADORES=[Pikachu,,]
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=SJF-CD
QUANTUM=0
ALPHA=0.5
ESTIMACION_INICIAL=1
IP_BROKER=127.0.0.1
PUERTO_BROKER=5002
LOG_FILE=/workspace/tp-2020-1c-heartbleed/team/team.log